 "Invalid Sec-WebSocket-Accept response" error when using with React Native

Hi Phil,

For a new project I'm using Quart again as the server. 

I used the working code from the old project and tried to connect to the server, but I get an error message from the onerror event.

I'm using:
- Python 3.7
- Quart 0.10.0
- Hypercorn 0.9.0
(- websockets 8.1 is also installed)

Is this an Hypercorn/Quart issue you think or could this be an python bug?

Simple test code in React Native
`import React, {Component} from 'react';
import {Text, View} from 'react-native';

export default class App extends React.Component {

    constructor() {
        super();

        this.state = {
            echo: '',
            open: false,
        };

        this.socket = new WebSocket('wss://<SERVER>:443/ws/');
        this.emit = this.emit.bind(this);
    }

    emit() {
        this.setState(prevState => ({
            open: !prevState.open
        }))
        this.socket.send("It worked!")
        console.log('>>>>> het werkt !!!!')
    }

    componentDidMount() {

        this.socket.onopen = () => this.socket.send(JSON.stringify({msg_type: 'client_connect', contents: 'Saying first hello!'}));

        this.socket.onerror = (e) => {
            // an error occurred
            console.log('>>>>> '+e.message)
          };


        this.socket.onmessage = ({data}) => {
            console.log(data);

            this.setState({echo: data});

            setTimeout(() => {
                this.socket.send(new Date().toGMTString());
            }, 3000);
        }
    }

    render() {
        return (
            <View>
                <Text style={{ top: 100 }}>websocket echo: {this.state.echo}</Text>
            </View>
        );
    }
}`

For reference, this comes from the ws protocol:

>  Sec-WebSocket-Protocol: chat

   The |Origin| header field [RFC6454] is used to protect against
   unauthorized cross-origin use of a WebSocket server by scripts using
   the WebSocket API in a web browser.  The server is informed of the
   script origin generating the WebSocket connection request.  If the
   server does not wish to accept connections from this origin, it can
   choose to reject the connection by sending an appropriate HTTP error
   code.  This header field is sent by browser clients; for non-browser
   clients, this header field may be sent if it makes sense in the
   context of those clients.

   Finally, the server has to prove to the client that it received the
   client's WebSocket handshake, so that the server doesn't accept
   connections that are not WebSocket connections.  This prevents an
   attacker from tricking a WebSocket server by sending it carefully
   crafted packets using XMLHttpRequest [XMLHttpRequest] or a form
   submission.

   To prove that the handshake was received, the server has to take two
   pieces of information and combine them to form a response.  The first
   piece of information comes from the |Sec-WebSocket-Key| header field
   in the client handshake:

        Sec-WebSocket-Key: dGhlIHNhbXBsZSBub25jZQ==

   For this header field, the server has to take the value (as present
   in the header field, e.g., the base64-encoded [RFC4648] version minus
   any leading and trailing whitespace) and concatenate this with the
   Globally Unique Identifier (GUID, [RFC4122]) "258EAFA5-E914-47DA-
   95CA-C5AB0DC85B11" in string form, which is unlikely to be used by
   network endpoints that do not understand the WebSocket Protocol.  A
   SHA-1 hash (160 bits) [FIPS.180-3], base64-encoded (see Section 4 of
   [RFC4648]), of this concatenation is then returned in the server's
   handshake.





Fette & Melnikov             Standards Track                    [Page 7]

 
RFC 6455                 The WebSocket Protocol            December 2011


   Concretely, if as in the example above, the |Sec-WebSocket-Key|
   header field had the value "dGhlIHNhbXBsZSBub25jZQ==", the server
   would concatenate the string "258EAFA5-E914-47DA-95CA-C5AB0DC85B11"
   to form the string "dGhlIHNhbXBsZSBub25jZQ==258EAFA5-E914-47DA-95CA-
   C5AB0DC85B11".  The server would then take the SHA-1 hash of this,
   giving the value 0xb3 0x7a 0x4f 0x2c 0xc0 0x62 0x4f 0x16 0x90 0xf6
   0x46 0x06 0xcf 0x38 0x59 0x45 0xb2 0xbe 0xc4 0xea.  This value is
   then base64-encoded (see Section 4 of [RFC4648]), to give the value
   "s3pPLMBiTxaQ9kYGzzhZRbK+xOo=".  This value would then be echoed in
   the |Sec-WebSocket-Accept| header field.

I tried to do the same with python websockets and asyncio. And that worked instantly.

`#!/usr/bin/env python

import asyncio
import websockets

async def echo(websocket, path):
    async for message in websocket:
        await websocket.send(message)

start_server = websockets.serve(echo, host=None, port=443)

asyncio.get_event_loop().run_until_complete(start_server)
asyncio.get_event_loop().run_forever()`

Are you using a custom subprotocol (`Sec-WebSocket-Protocol: chat`)? If so you'd need to accept that subprotocol explicitly in Quart,

```
# In some websocket route, before doing anything else with the websocket
await websocket.accept(subprotocol="chat")
```

Hi, 
No, i just opened a new unaltered connection in React Native. ....
`this.socket = new WebSocket('ws://127.0.0.1:3000');`
.. But your solution worked like a charm! I added it like this...

`
@app.websocket('/ws')
@collect_websocket
async def ws():
    await websocket.accept(subprotocol="chat")
    consumer = asyncio.create_task(receiving())
    while True:
        await asyncio.gather(consumer)`

Thanks for your help. I'll close this.
